PORT=8787
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=https://contactolanne.github.io/lanne-social-distribution/callback.html
TIKTOK_SCOPES=user.info.basic,video.publish,video.upload
ALLOWED_ORIGINS=https://contactolanne.github.io
MAX_UPLOAD_MB=250
